@import 'reset';


* {
	box-sizing: border-box;
}

body {
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
}


a {
	text-decoration: none;
}

//Color variable

$accentGreen: #76BC21;
$bodyTextColor: #808285;


//Side Nav / Header Styles

header {
	height: 90px;
	margin-bottom: 20px;

	.headerLogo {
		display: none;
	}

	.flexHeaderImg {
		display: flex;
		flex-direction: row;
		.headerLogoMobile {
			padding: 20px;

			img {
				// width: 50%;
				max-width: 100px;
			}
	
		}
	
		.hamburger {
			padding: 20px;
			text-align: right;
			width: 80%;

			img {
				max-width: 30px;
			}
		}
	}

	.overlayNavMobile {
		display: none;
		position: fixed;
		top: 0%;
		left: -500px;
		width: 100%;
		height: 100%;
		z-index: 2;
		background: #ccc;

		.flexOverlayHeader {
			display: flex;
			justify-content: space-around;

			.headerLogoMobile {
				text-align: left;
				padding: 20px;

				img {
					max-width: 100px;
				}
			}
	
			.closeBtn {
				padding: 20px;
				text-align: right;
	
				img {
					width: 8%;
					// width: 20px;
					// max-width: 20px;
				}
			}
		}

		.dlBtn {
			text-align: center;

			img {
				max-width: 50px;
			}

			span {
				display: block;
				color: white;
				text-align: center;
				margin-top: 5px;
			}

		}

		ul {
			text-align: center;
			padding: 20px;

			li {
				margin: 25px;
			}

			a {
				color: white;
			}

			a:hover {
				color: $accentGreen;
			}
		}
	}

}



//Main Content Styles


.sideNavDesktop {
	display: none;
}

.content {
	padding: 20px;
	margin: 40px 0px;

	h2 {
		color: $accentGreen;
		margin: 10px 0px;
		font-size: 1.2rem;
	}

	h3 {
		color: $accentGreen;
	}

	p {
		color: $bodyTextColor;
		line-height: 1.2;
		margin: 15px 0px;
	}

	.col-2 {
		width: 100%;

		.flexWrapBoardMembers {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		
			.boardMembers {
				width: 50%;
				
				p {
					margin: 5px 0px;
				}
			}

			.greenTextExec {
				color: $accentGreen;
			}

			.boardMembers p:nth-child(even) {
				color: #ccc;
			}
		}
	}

	.needSection {
		margin: 50px 0px;

		.needTilesWrap {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			text-align: center;

			.needTiles {
				width: 48%;
				margin-right: 2%;
				margin-bottom: 2%;
				background: $accentGreen;

				p {
					font-size: .7rem;
					color: white;
					height: 30px;
					font-weight: bold;
					width: 70%;
					margin: 12px auto;
				}

				span {
					display: block;
					font-size: .6rem;
					color: white;
					height: 30px;
					text-align: center;
					margin: 12px auto;
					width: 75%;
					line-height: 1.2;
				}

				img {
					width: 60%;
					margin: 10px 0px;
				}

				.img3Tile{
					width: 25%;
				}

				.img2Tile {
					width: 40%
				}

				.img6Tile {
					width: 40%;
				}
			}

			.tile3 {
				& p {
					width: 50%;
				}
			}

			.tile4 {
				& p {
					width: 80%;
				}
			}

			.tile5 {
				& p {
					width: 80%;
				}
			}

		}
	}

	.objSection {
		margin: 50px 0px;

		.objTilesWrap {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			text-align: center;
			position: relative;
			
			.objTiles {
				height: 160px;
				width: 48%;
				margin-right: 2%;
				margin-bottom: 2%;
				background: $accentGreen;
	

				p {
					font-size: .9rem;
					color: white;
					width: 80%;
					margin: auto;
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					
				}
			}
		}
	}

	.goalsSection {
		margin: 50px 0px;
		.goalTilesWrap {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			text-align: center;
			position: relative;

			.goalTiles {
				height: 160px;
				width: 48%;
				margin-right: 2%;
				margin-bottom: 2%;
				background: $accentGreen;
			}

			span {
				font-size: 1.4rem;
			}

			 p {
				font-size: .8rem;
				color: white;
				width: 90%;

				margin: auto;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			 }
		}
	}

	.contactSection {
		
		form {
			display: flex;
			flex-direction: column;

			input {
				widows: 48%;
			}
		}
	}
}



//Media Queries
// Mobile View
@media only screen and (min-width: 512px) {

	.content {
		.needSection {
			.needTilesWrap {
				.needTiles {
					p {
						font-size: .8rem;
					}
					span {
						font-size: .7rem;
					}
				}
			}
		}

		.goalsSection {
			.goalTilesWrap {
				p {
					font-size: .9rem;
				}
			}
		}
	}

  }

  @media only screen and (min-width: 700px) {

	.content {
		.needSection {
			.needTilesWrap {
				.needTiles {
					width: 31%;
					}
				}
			}

			.objSection .objTilesWrap .objTiles {
				width: 31%;
			}

			.goalsSection .goalTilesWrap .goalTiles {
				width: 31%;
			}

		}	
  }

// Tablet View
@media only screen and (min-width: 768px) {

	.content {
		p {
			font-size: .9rem;	
		}
		h2 {
			font-size: 1rem;
		}
		.aboutSection {
			display: flex;
			justify-content: flex-start;


			.col-2 {
				margin-top: 40px;
				h2 {
					width: 58%;
					margin: auto;
					margin-bottom: 5px;

				}
				.flexWrapBoardMembers {
					.boardMembers {
						width: 58%;
						margin: auto;
					}

					.greenTextExec {
						font-size: .8rem;
					}
				}
			}

		}
	}
}


//Desktop View

@media only screen and (min-width: 960px) {

	.navContentWrap {
		max-width: 1000px;
		margin: auto;
	}

	header {
		height: 0px;

		.flexHeaderImg {
			display: none;
		}
	}

	.content {
		margin: auto;
		width: 720px;
		float: right;
		max-width: 720px;
	}

	.sideNavDesktop {
		// left: 0;
		width: 220px;
		height: 100vh;
		float: left;
		max-width: 220px;
		background: $bodyTextColor;
		top: 0;
		margin: auto;
		position: fixed;
		display: block;

		.headerLogo {
			display: block;

			img {
				width: 100%;
			}
		}

		ul {
			font-family: Arial, Helvetica, sans-serif;
			width: 50%;
			margin: 10px auto;

			a {
				color: white;
			}
			li {
				padding: 8px 0px;
			}
		}

		.dlBtn {
			position: relative;
			width: 35%;
			top: 15%;
			margin: auto;
			img {
				width: 100%;
			}
			p {
				width: 100%;
				font-size: .5rem;
				text-align: center;
				padding: 5px;
			}
		}
	}
}
